
<div id="root"> </div>

{% schema %}
{
  "name": "discountBxGy",
  "target": "body",
  "enabled_on": {
      "templates": ["cart"]
    },
  "stylesheet": "app.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}

